h1, h2, h3, h4, h5, h6, span.link-top-line, .topic-title, .name, .control-label, a.title, .title {
    font-family: Merriweather;
}

.category-name, .list-controls, th, .number, .small-action, button, .badge-section, .topic-meta-data, .topic-timeline, .created-at, .panel-body, .search-advanced-sidebar, .search-bar, .secondary, .main-nav, .username, .action-title, .d-editor-input, .ember-text-field, .close, .btn, .nav-pills, .user-navigation, .text-danger {
    font-family: 'Work Sans';
}

p, .category-description, .blurb, .label, .badge-summary, .modal-body, .controls, .instructions, .auth-tokens {
    font-family: 'Source Sans Pro';
}

/*span.badge-category svg.d-icon {
     color: #FFFFFF;
}*/
